body {
  margin: 0 auto;
  max-width: 80%;
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
  letter-spacing: -2px;
}

.flexcontainer {
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
 }

div.article-container {
  max-width: 80%;
  border-bottom: 1px solid;
  border-bottom-color: #DDDDDD;
}

.article-container img {
  max-width: 100%;
}

header {
  max-width: 80%;
  line-height: .5;
}

h1 {
  font-size: 3.0em;
  font-weight: 300;
  color: #DE3B30;
}

h1 a {
  color: #DE3B30;
}

h2 {
  font-weight: 200;
  font-size: 2.0em;
}

h2 a {
  color: #CCCCCC;
}

h3 {
  font-size: 1.7em;
  font-weight: 200;
}

h4 {
  text-align: right;
  font-size: 1.1em;
}

h4 a {
  color:#DE3B30;
}

nav a {
  color: #DDDDDD;
  text-decoration:underline;
  margin: 0 4px 0 4px;
  font-size: 1.7em;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: normal;
  line-height: 1.5;
}

article p::first-letter {
  color: #DDDDDD;
  float: left;
  font-size: 5em;
  margin: 0 .2em 0 0;
}

.footer-container {
  margin-top: 40px;
}

.footer-container p {
  color: #DDDDDD;
  size: 1.1em;
}

.footer-container a {
  letter-spacing: normal;
  color: red;
  font-size: 1.1em;
  border-left: 2px solid;
  border-color: #DDDDDD;
  margin-right: 2px;
  padding: 0 5px 0 5px;
}

.footer-container>a:first-child {
  border: none;
}
