body {
  margin: 0 auto;
  max-width: 80%;
}

.flexcontainer {
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
 }

div.article-container {
  max-width: 80%;
}

.article-container img {
  max-width: 100%;
}

header {
  max-width: 80%;
}
